<!--sidebar start-->
<aside>
    <!--ng-if="menus.length"-->
    <!-- <div id="wrapper" class="nav-collapse" style="background-color: #222D32;"> -->
        <!-- sidebar menu start-->
        <!--
        <div class="leftside-navigation" id="sidebar-wrapper" style="position: absolute; background-color: #222d32;">
            <ul class="sidebar-menu" id="menu" show-menu>
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="assets/images/user2-160x160.jpg" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>{{me.name}}</p>
                        <a href="#"><i class="fa fa-circle text-success"></i>Online</a>
                    </div>
                </div>
                <li class="header">MAIN NAVIGATION</li>              
                <li>
                    <a ui-sref-active="active" class="white"  ui-sref="app.restaurant">
                        <i class="fa fa-list"></i>
                        <span>Restaurant</span>
                    </a>
                </li>         
            </ul>
        </div>-->
        <!-- sidebar menu end-->
        <section id="page-content-wrapper" style="background-color: #ECF0F5;">
            <section id="content" style="margin-top: 35px;">
                <section class="no-padding" ui-view></section>
            </section>
        </section>
    <!--</div> -->
</aside>
<!--sidebar end-->
